
.card {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #ffffffb4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.card-content {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .card-content {
        flex-direction: column;
    }
}

.profile-photo {
    width: 20vw;
    max-width: 300px;
    height: auto;
    border-radius: 10%; 
    margin: 20px;
}

.name-text {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}