
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffede3;
    overflow-x: hidden;
}

h1 {
    font-size: 70px;
    color: #4b4b4b;
}

h2 {
    font-size: 40px;
    color: #4b4b4b;

}

h3 {
    font-size: 30px;
    font-weight: 800;
    color: #4b4b4b;

}

h4 {
    font-size: 10px;
    font-style: italic;

}

a {
    text-decoration: none;
    color: #4b4b4b;

}

a:hover {
    color: rgb(255, 255, 255);
}

a:active {
    color:rgb(255, 163, 147);
}

p {
    font-size: 20px;
    color: #4b4b4b;

}


nav {
    background-color: #4b4b4b;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

section {
    display: none;
}

section:target {
    display: block;
}

section#about:target,
section#projects:target,
section#contact:target {
    display: block;
}

.content{
    display: flex;
    align-items: center;
    margin-left: 15vw;
    margin-right: 15vw;
}


.button {
    display: inline-block;
    background-color: rgb(255, 163, 147);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    border: none;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.button:hover {
    background-color: rgb(255, 218, 211);
}

.bubble {
    position: absolute;
    background-color: rgba(255, 163, 147, 0.726); /* You can change the color */
    border-radius: 50%;
    width: 1000px;
    height: 900px;
    animation: moveBubble 10s linear infinite; 
    filter: blur(100px); 
    z-index: -1;
}

@keyframes moveBubble {
    0% {
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
    }
    50% {
        left: calc(100% - 1000px);
        top: 25%;
        transform: translateY(-50%);
    }
    100% {
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
    }
}